<div class="row">
  <div class="col-xs-12">
    <img
      [src]="detailedRecepie.imagePath"
      [alt]="detailedRecepie.name"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ detailedRecepie.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="onAddToList()"
            >To Shopping List</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="OnRedirectToUpdate()"
            >Edit Recepie</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDelete()">Delete Recepie</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ detailedRecepie.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingridient of detailedRecepie.ingridients"
      >
        {{ ingridient.name }} - {{ ingridient.amount }}
      </li>
    </ul>
  </div>
</div>
